<% provide :title, 'about' %>
<div class="container">
  <h1>about</h1>
  <h2>this has a few features</h2>
  <ul>
    <li>mcdonalds</li>
    <li>twerk</li>
    <li>charge phone</li>
    <li>be bisexual</li>
    <li>eat hot chip and lie</li>
  </ul>
</div>
