<% provide :title, 'help' %>
<div class="container">
  <h1>help</h1>
  <p>
    use the 
    <a href="https://github.com/revarcline/reflectotron/issues">
      issue tracker</a> on the project's 
    <a href="https://github.com/revarcline/reflectotron">
      github page</a> if you are encountering any problems.
  </p>
</div>

