<footer class="footer">
  <nav>
    <ul>
      <li class='nav-item'>
        <%= link_to 'about',  about_path, class: 'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'contact',  contact_path, class: 'nav-link' %>
      </li>
    </ul>
  </nav>
</footer>
