<header class="navbar navbar-dark navbar-default bg-dark">
  <div class="container-fluid">
    <!-- brand and toggle button -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#collapse-top"
                            aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <%= link_to image_pack_tag('reflectotron_banner.svg',
                          class: 'navbar-brand',
                          alt: 'reflectotron',
                          height: '60', id: 'logo'), root_path %>
    </div>
    <!-- menu items, forms, other togglables -->
    <div class="collapse navbar-collapse" id="collapse-top">
      <ul class="nav navbar-nav navbar-right">
        <li class='nav-item'>
          <%= link_to 'home',   root_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'help',   help_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'log in', sign_in_path, class: 'nav-link' %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</header>
